/******************************************************************************
* FILENAME:
*   header-comment-block.mjs

* DESCRIPTION:
*   This is an area to place a general description of the file. Please limit
*   line length to less than 80. The header delimiter is 80 characters long.
*   Place an asterisk in column 1 to continue blocked comments.

* NOTES:
*   - 

* (c) Copyright Ashley Thomas
* Usage Rights: Not for public use or redistribution.

******************************************************************************/

.sign-in-and-sign-up {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    background-color: whitesmoke;
    padding: 10px 10px 20px;
    z-index: 2147483647;
}

/* END of document ***********************************************************/